[Desktop Entry]
Encoding=UTF-8
Name=MycroftPlasmoid
Name[ast]=MycroftPlasmoid
Name[ca]=Plasmoide del Mycroft
Name[ca@valencia]=Plasmoide del Mycroft
Name[cs]=MycroftPlasmoid
Name[de]=MycroftPlasmoid
Name[en_GB]=MycroftPlasmoid
Name[es]=MycroftPlasmoid
Name[fi]=MycroftPlasmoid
Name[gl]=Plasmoide de Mycroft
Name[nl]=MycroftPlasmoid
Name[nn]=MycroftPlasmoid
Name[pl]=Plazmoid Mycroft
Name[pt]=MycroftPlasmoid
Name[sk]=MycroftPlasmoid
Name[sv]=Mycroft Plasmoid
Name[uk]=Плазмоїд Mycroft
Name[x-test]=xxMycroftPlasmoidxx
Comment=Mycroft applet for plasma desktop
Comment[ca]=Miniaplicació Mycroft per a l'escriptori Plasma
Comment[ca@valencia]=Miniaplicació Mycroft per a l'escriptori Plasma
Comment[cs]=Applet Mycroft pro pracovní prostředí Plasma
Comment[de]=Mycroft-Miniprogramm für die Plasma-Arbeitsfläche
Comment[en_GB]=Mycroft applet for plasma desktop
Comment[es]=Miniaplicación Mycroft para el escritorio Plasma
Comment[fi]=Mycroft-sovelma Plasma-työpöydälle
Comment[gl]=Trebello de Mycroft para o escritorio Plasma.
Comment[nl]=Mycroft applet voor Plasma Bureaublad
Comment[nn]=Mycroft-skjermelement for Plasma
Comment[pl]=Aplet Mycroft dla pulpitu plazmy
Comment[pt]='Applet' do Mycroft para o ambiente de trabalho Plasma
Comment[sk]=Applet Mycroft pre plochu Plasma
Comment[sv]=Mycroft miniprogram för Plasma-skrivbordet
Comment[uk]=Аплет Mycroft для стільниці Плазми
Comment[x-test]=xxMycroft applet for plasma desktopxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.mycroftplasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
Icon=mycroft-plasma-appicon
